* {
	margin: 0;
	padding: 0;
}

body {
    background: #121b20 url(../img/bg.jpg) no-repeat 0 0;
	background-size: 2000px;
	background-position: center; 
    background-attachment: fixed;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
}

.inset {
	width: 600px;
	position: absolute;
	margin: -140px -300px 0;
	top: 50%;
	left: 50%;
}

.inset svg {
	margin: 0 auto 20px;
	display: block;
}

.inset h1 {
	font-size: 26px;
	font-weight: 300;
	text-align: center;
}

.inset h1 b {
	font-weight: 800;
}

.inset h1 a {
	color: #fff;
	text-decoration: none;
}

.inset h2, .inset h3 {
	text-align: center;
}

.inset .badge {
	width: 84px;
	font-size: 14px;
	margin: 20px auto;
	box-shadow: 1px 10px 44px 1px #000;
}

.inset .badge span {
	background: #5B5B5B;
	text-shadow: 1px 1px 1px #000;
	padding: 1px 6px 2px;
	margin: 0;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.inset .badge i {
	background: #94C30D;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);
	padding: 1px 6px 2px;
	margin: 0 0 0 -3px;
	font-style: normal;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomright: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.inset .badge.red i {
	background: #c30d0d;
}

.inset form {
	margin: 30px auto 0;
	width: 400px;
	background: rgba(255, 255, 255, 0.16);
	box-shadow: 1px 10px 44px 1px #000;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	text-align: right;
}

.inset input {
	background: none;
	width: 310px;
	border: 0;
	color: #fff;
	font-size: 12px;
}

.inset input:focus {
	outline: none;
	border: none;
}

.inset button {
	background: #8cc00a;
	color: #fff;
	padding: 8px 15px;
	font-size: 12px;	
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 0;
}

.inset p, .footer p {
	font-size: 14px;
	width: 540px;
	margin: 20px auto 0;
	opacity: .8;
	font-weight: 300;
	text-align: center;
}
.inset p.red {
	color: red;
}

.inset .gitbadge {
	margin-left: 10px;
}

.footer {
	width: 600px;
	position: absolute;
	margin: -140px -300px 0;
	bottom: 10%;
	left: 50%;
}

pre {
	box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
	line-height: 1.2em;
	font-family: monospace;
	border: 1 solid #4d4d4c;
	text-align: center;
	margin-left: -200px;
	width: 1000px;
}
pre code {
	padding: 5px;
	font-size: 10px;
}